In [ ]:
#data transformation starts here

In [ ]:
# Some code here
# Removing nulls